<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Actividades</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Atr&aacute;s
    </a>
	</div>

  <div data-role="content">
  
    <ul data-role="listview">
    
      <li><a href="<%= url_for :action => :mes_actual %>">Mes actual</a></li>
      <li><a href="<%= url_for :action => :mes_siguiente %>">Próximo mes</a></li> 
      
    </ul>
  </div>

</div>
