<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1> Empresas </h1>
      <a href="<%= url_for :action => :empresa, :id => @params['back_id'] %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
        Atr&aacute;s
      </a>

  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% @empresas.each do |empresa| %>     
        <li><a href="<%= url_for :action => :empresa, :id => empresa.object %>"><%= empresa.nombre %></a></li>
      <% end %>
    </ul> 
    
  </div>
  

</div>