<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Reportes</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Atr&aacute;s
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :lista_reporte, :query => {:tipo => '0'} %>">Mensuales</a></li>
      <li><a href="<%= url_for :action => :lista_reporte, :query => {:tipo => '1'} %>">Semanales</a></li> 
    </ul>
  </div>

</div>
