<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Wait</h1>
  </div>

  <div data-role="content">
    <div class="loader-container">
      <img src="/public/images/ajax-loader.gif" alt="ajax loader">
    </div> 
  </div>

</div>