<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Riesgos</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Atr&aacute;s
    </a>
	</div>

  <div data-role="content">
  
  <div class="cuadrado-super-container fix-margin">
    <div class="cuadrado-container">
        <div class="dummy"></div>
        <div class="cuadrado">
          <p class="cuadrado-prob-title rotar90">Probabilidad</p>
          <p class="cuadrado-impacto-title">Impacto</p>
          <div class="cuadrado-super-container-right">
            <div class="cuadrado-container">
                <div class="dummy"></div>
                <div class="cuadrado cuadrado-interno">
                  <div class="impacto-eje impacto-bajo fuente-gris">bajo</div>
                  <div class="impacto-eje impacto-medio fuente-gris">medio</div>
                  <div class="impacto-eje impacto-alto fuente-gris">alto</div>
                  <div class="probabilidad-eje probabilidad-bajo rotar90 fuente-gris">baja</div>
                  <div class="probabilidad-eje probabilidad-medio rotar90 fuente-gris">media</div>
                  <div class="probabilidad-eje probabilidad-alto rotar90 fuente-gris">alta</div>
                  <div class="cuadrado-line line-vertical line-vertical-low"></div>
                  <div class="cuadrado-line line-vertical line-vertical-med"></div>
                  <div class="cuadrado-line line-horizontal line-horizontal-low"></div>
                  <div class="cuadrado-line line-horizontal line-horizontal-med"></div>
                  <% @riesgos.each do |riesgo| %>
                    <%= riesgo.draw(url_for(:action => :show, :id => riesgo.object)) %>
                  <% end %>
                </div>
            </div> 
          </div>
          
        </div>
    </div> 
  </div>   
    
    <ul data-role="listview" class="lista-riesgos">
      <% @riesgos.each do |riesgo| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => riesgo.object %>">
              <%= riesgo.nemo %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
